<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::section}, 'orders')">
<section>
  <h1 class="mb-4" th:text="#{orders.form.title}">Order Form</h1>
  <form th:action="@{'/orders/save'}" th:object="${item}" method="post">
    <div th:each="field : ${fields}" class="mb-3">
      <label th:for="${field}" th:text="${field}" class="form-label"></label>
      <input type="text" th:field="*{__${field}__}" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" th:text="#{crud.save}">Enregistrer</button>
  </form>
</section>
</html>
