<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::section}, 'products')">
<section>
  <h1 class="mb-4" th:text="#{products.list.title}">Product List</h1>
  <a th:href="@{'/products/add'}" class="btn btn-success mb-3" th:text="#{crud.add}">Ajouter</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th th:each="field : ${fields}" th:text="${field}"></th>
      <th th:text="#{crud.actions}">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
      <td th:each="field : ${fields}" th:text="${#objects.getProperty(item, field)}"></td>
      <td>
        <a th:href="@{'/products/edit/' + ${#objects.getProperty(item,'id')}}" class="btn btn-sm btn-primary me-1" th:text="#{crud.edit}">Modifier</a>
        <a th:href="@{'/products/delete/' + ${#objects.getProperty(item,'id')}}" class="btn btn-sm btn-danger" th:text="#{crud.delete}">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</html>
