<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideMenu" aria-controls="sideMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}" th:text="#{navbar.brand}">CPCC</a>
        <div class="collapse navbar-collapse" id="sideMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/customers/list}" th:text="#{navbar.customers}">Clients</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/products/list}" th:text="#{navbar.products}">Produits</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/orders/list}" th:text="#{navbar.orders}">Commandes</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
